[submodule ".config/nvim"]
	url = https://github.com/NathansCodes/nvim.git
	path = .config/nvim
[submodule ".config/btop/themes"]
	path = .config/btop/themes
	url = https://github.com/rose-pine/btop.git
[submodule ".config/awesome/ui/widgets"]
	path = .config/awesome/ui/widgets
	url = https://github.com/streetturtle/awesome-wm-widgets.git
[submodule ".config/awesome/net_widgets"]
	path = .config/awesome/net_widgets
	url = https://github.com/pltanton/net_widgets.git
[submodule ".config/awesome/modules/rubato"]
	path = .config/awesome/modules/rubato
	url = https://github.com/andOrlando/rubato.git
[submodule ".config/awesome/modules/ldbus"]
	path = .config/awesome/modules/ldbus
	url = https://github.com/dodo/ldbus.git
[submodule ".config/awesome/modules/bling"]
	path = .config/awesome/modules/bling
	url = https://github.com/Kasper24/bling.git
