[submodule ".config/nvim"]
	url = https://github.com/naan187/nvim.git
	path = .config/nvim
	branch = main
[submodule ".config/btop/themes"]
	path = .config/btop/themes
	url = https://github.com/rose-pine/btop.git
[submodule ".config/awesome/ui/widgets"]
	path = .config/awesome/ui/widgets
	url = https://github.com/streetturtle/awesome-wm-widgets.git
[submodule ".config/awesome/modules/rubato"]
	path = .config/awesome/modules/rubato
	url = https://github.com/andOrlando/rubato.git
[submodule ".config/awesome/modules/bling"]
	path = .config/awesome/modules/bling
	url = https://github.com/Kasper24/bling.git
[submodule ".config/awesome/modules/lua-color"]
	path = .config/awesome/modules/lua-color
	url = https://github.com/naan187/lua-color.git
	branch = master
