[submodule "nvim"]
	url = https://github.com/NathansCodes/nvim.git
	path = nvim
[submodule "btop/themes"]
	path = btop/themes
	url = https://github.com/rose-pine/btop.git
[submodule "eww"]
	path = eww
	url = https://github.com/saimoomedits/eww-widgets.git
[submodule "awesome/ui/widgets"]
	path = awesome/ui/widgets
	url = https://github.com/streetturtle/awesome-wm-widgets.git
[submodule "awesome/net_widgets"]
	path = awesome/net_widgets
	url = https://github.com/pltanton/net_widgets.git
[submodule "awesome/vicious"]
	path = awesome/vicious
	url = https://github.com/vicious-widgets/vicious.git
[submodule "awesome/--init"]
	path = awesome/--init
	url = https://github.com/BlingCorp/bling.git
[submodule "awesome/bling"]
	path = awesome/bling
	url = https://github.com/BlingCorp/bling.git
[submodule "awesome/rubato"]
	path = awesome/rubato
	url = https://github.com/andOrlando/rubato.git
