# tmux plugins dir
.config/tmux/plugins/*
.config/tmux/plugins/

# compiled packer file directory
.config/nvim/plugin/packer_compiled.lua

# undo files directory
.config/nvim/undodir/*
.config/nvim/undodir

# ignore changes in settings.json so I can't accidentally expose how I use my computer
.config/awesome/settings.json
