/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #DCE0E8; // crust
    background-alt: #E6E9EF; // mantle
    foreground:     #4C4F69; // text
    foreground-alt: #1E66F5; // blue
    selected:       #8839EF; // mauve
    active:         #40A02B; // green
    urgent:         #D20F39; // red
}
