/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #181926; // crust
    background-alt: #1E2030; // mantle
    foreground:     #CAD3F5; // text
    foreground-alt: #89B4FA; // blue
    selected:       #C6A0F6; // mauve
    active:         #A6E3A1; // green
    urgent:         #F38BA8; // red
}
