/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #232634; // crust
    background-alt: #2923C3; // mantle
    foreground:     #C6D0F5; // text
    foreground-alt: #8CAAEE; // blue
    selected:       #CA9EE6; // mauve
    active:         #A6D189; // green
    urgent:         #E78284; // red
}
