* {
    background:     #2A273F;
    background-alt: #232136;
    foreground:     #E0DEF4;
    foreground-alt: #EA9A97;
    selected:       #3E8FB0;
    selected-alt:   #9CCFD8;
    active:         #393552;
    urgent:         #EB6F92;
}
