@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

:root {
	--base: #11111b;
	--surface: #181825;
	--overlay: #1e1e2e;
	--inactive: #585b70;
	--ignored: #bac2de;
	--highlight_low: #313244;
	--highlight_med: #585b70;
	--highlight_high: #7f849c;
	--white: #cdd6f4;
	--text: #cdd6f4;
	--red: #f38ba8;
	--yellow: #f9e2af;
	--cyan: #94e2d5;
	--green: #a6e3a1;
	--blue: #98dceb;
	--magenta: #b4befe;
	--accent: #fab387;
	--second_accent: #cba6f7;
	--third_accent: #98dceb;
	--forth_accent: #f2cdcd;
}

.theme-dark {
    --background-primary: var(--base);
    --background-secondary: var(--surface);
    --background-secondary-alt: var(--surface);
    --channeltextarea-background: hsl(240, 21%, 15%);
    --background-tertiary: var(--overlay);
    --background-accent: var(--overlay);
    --text-normal: var(--text);
    --text-spotify: var(--green);
    --text-muted: var(--inactive);
    --text-link: var(--blue);
    --background-floating: var(--overlay);
    --header-primary: var(--text);
    --header-secondary: var(--third_accent);
    --header-spotify: var(--second_accent);
    --interactive-normal: var(--text);
    --interactive-hover: var(--third_accent);
    --interactive-active: var(--text);
    --ping: var(--red);
    --background-modifier-selected: rgba(var(--text), 0.4);
    --scrollbar-thin-thumb: var(--inactive);
    --scrollbar-thin-track: transparent; 
    --scrollbar-auto-thumb: var(--inactive);
    --scrollbar-auto-track: transparent; 
}

.theme-light {
    --background-primary: var(--overlay);
    --background-secondary: var(--overlay);
    --background-secondary-alt: var(--surface);
    --channeltextarea-background: hsl(240, 21%, 15%);
    --background-tertiary: var(--overlay);
    --background-accent: var(--overlay);
    --text-normal: var(--text);
    --text-spotify: var(--green);
    --text-muted: var(--inactive);
    --text-link: var(--blue);
    --background-floating: var(--overlay);
    --header-primary: var(--text);
    --header-secondary: var(--third_accent);
    --header-spotify: var(--second_accent);
    --interactive-normal: var(--text);
    --interactive-hover: var(--third_accent);
    --interactive-active: var(--text);
    --ping: var(--red);
    --background-modifier-selected: rgba(var(--text), 0.4);
    --scrollbar-thin-thumb: var(--inactive);
    --scrollbar-thin-track: transparent; 
    --scrollbar-auto-thumb: var(--inactive);
    --scrollbar-auto-track: transparent; 
}

body {
    --font-display: Fira Code;
}

.body-2wLx-E, .headerTop-3GPUSF, .bodyInnerWrapper-2bQs1k, .footer-3naVBw {
    background-color: var(--background-tertiary);
}

.title-17SveM, .name-3Uvkvr{
    font-size: 14px;
}

.panels-3wFtMD {
    background-color: var(--background-secondary);
}

.username-h_Y3Us {
    font-family: var(--font-display);
    font-size: 14px;
}

.peopleColumn-1wMU14, .panels-j1Uci_, .peopleColumn-29fq28, .peopleList-2VBrVI, .content-2hZxGK, .header-1zd7se, .root-g14mjS .small-23Atuv .fullscreenOnMobile-ixj0e3{
    background-color: var(--background-secondary);
}

.textArea-12jD-V, .lookBlank-3eh9lL,  .threadSidebar-1o3BTy, .scrollableContainer-2NUZem, .perksModalContentWrapper-3RHugb, .theme-dark .footer-31IekZ, .theme-light .footer-31IekZ{
    background-color: var(--background-tertiary);
}

.numberBadge-2s8kKX, .base-PmTxvP, .baseShapeRound-1Mm1YW, .bar-30k2ka, .unreadMentionsBar-1Bu1dC, .mention-1f5kbO, .active-1SSsBb, .disableButton-220a9y {
    background-color: var(--ping) !important;
}

.lookOutlined-3sRXeN.colorRed-1TFJan, .lookOutlined-3sRXeN.colorRed-1TFJan {
    color: var(--ping) !important;
}

.header-3OsQeK, .container-ZMc96U {
    box-shadow: none!important;
    border: none!important;
}

.content-1gYQeQ, .layout-1qmrhw, .inputDefault-3FGxgL, .input-2g-os5, .input-2z42oC, .role-2TIOKu, .searchBar-jGtisZ {
    border-radius: 6px;
}

.layout-1qmrhw:hover, .content-1gYQeQ:hover {
    background-color: var(--background-modifier-selected)!important;
}

.container-3wLKDe {
    background-color: var(--background-secondary) !important;
}

.title-31SJ6t {
    background-color: var(--background-primary) !important;
}
