@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.css);

:root {
    --base: 17, 17, 27;
    --surface: 24, 24, 37;
    --overlay: 30, 30, 46;
    --inactive: 127, 132, 156;
    --highlight_low: 49, 50, 68;
    --highlight_med: 88, 91, 112;
    --highlight_high: 127, 132, 156;
    --white: 205, 214, 244;
    --text: 205, 214, 244;
    --red: 243, 139, 168;
    --yellow: 249, 226, 175;
    --cyan: 148, 226, 213;
    --green: 166, 227, 161;
    --blue: 152, 220, 235;
    --magenta: 180, 190, 254;
    --accent: 137, 180, 250;
    --second_accent: 203, 166, 247;
    --third_accent: 250, 179, 135;
}

:root {
  --accentcolor: var(--accent);
  --accentcolor2: var(--second_accent);
  --linkcolor: var(--blue);
  --mentioncolor: var(--accent);
  --textbrightest: var(--text);
  --textbrighter: var(--text);
  --textbright: var(--inactive);
  --textdark: var(--highlight_high);
  --textdarker: var(--highlight_med);
  --textdarkest: var(--highlight_low);
  --font: gg sans;
  --backgroundaccent: var(--highlight_low);
  --backgroundprimary: var(--overlay);
  --backgroundsecondary: var(--surface);
  --backgroundsecondaryalt: var(--surface);
  --backgroundtertiary: var(--base);
  --backgroundfloating: var(--overlay);
  --settingsicons: 1;
}
