/*===COLORS===*/

:root {
  --bg: #11111b;
  --bg2: #181825;
  --fg: #cdd6f4;
  --inactive: #7f849c;
  --accent: #89b4fa;
  --accent2: #cba6f7;
}



/*Basic Settings*/


:root {
  --navbarWidth     : 40vw; /* Set width of navbar. Use px for a fixed width 
                                or vw for a percentage of your window. */
  --animationSpeed  : 0.5s;
}


#main-window {
	font-kerning: normal !important;
	border: none !important;
}

/* Rounded corners in pages */
.browserStack>browser{
  margin: 0px 8px 8px 8px !important;
  border-radius: 10px !important;
}

#tabbrowser-tabpanels {
  -moz-appearance: none !important;
  background-color: var(--bg) !important;
}

#TabsToolbar {
  -moz-appearance: none !important;
  margin-left : var(--navbarWidth) !important;
  background: var(--toolbar-color) !important;
}

#urlbar:not(:hover):not([breakout][breakout-extend]) > #urlbar-background {
  box-shadow  : none !important;
  background  : none !important;
}

#nav-bar {
  margin-right: calc(100vw - var(--navbarWidth)) !important;
}

#urlbar-input-container {
  min-width   : 0px !important;
  text-align  : center !important;
}

:root[uidensity="compact"] #nav-bar {
  margin-top  : -37px !important;
  height      : 37px !important;
}

:root:not([uidensity="compact"]):not([uidensity="touch"]) #nav-bar {
  margin-top  : -44px !important;
  height      : 44px !important;
}

:root[uidensity="touch"] #nav-bar {
  margin-top  : -49px !important;
  height      : 49px !important;
}

.toolbarbutton-icon {
  color: var(--accent) !important;
}

/* Back Hide */
#back-button[disabled="true"] { display: none !important }

/* Forward Hide */
#forward-button[disabled="true"] { display: none !important }

/* Site information button */
#identity-box { display: none !important }

/* "Shield" icon */
#tracking-protection-icon-container { display: none !important }


/* Simplifying interface */

#nav-bar {
  -moz-appearance: none !important;
  background  : var(--bg) !important;
  box-shadow  : none !important;
}

#navigator-toolbox {
  border      : none !important;
}

.titlebar-spacer {
  display     : none !important;
}

#urlbar-background {
  -moz-appearance: none !important;
  border      : none !important;
  border-radius: 16px !important;
  transition: all 0.6s ease !important;
}

#urlbar:not(:hover):not([breakout][breakout-extend]) > #urlbar-background {
  -moz-appearance: none !important;
  box-shadow  : none !important;
  background-color  : var(--bg) !important;
}

findbar {
    background-color: var(--bg) !important;
}

/*============ Element Hiding stuff ============*/

/* Remove the pocket button */
#save-to-pocket-button {
  display: none;
}

/* Remove the firefox view button */
#firefox-view-button {
  display: none !important;
}

/* Remove the reader mode button */
#reader-mode-button {
  display: none !important;
}

/* Remove the bookmark button */
#star-button-box {
  display: none !important;
}

/* Remove the all tabs dropdown button */
#alltabs-button {
  display: none;
}

#urlbar-go-button {
  display: none;
}

/* Remove the new tab button */
#tabs-newtab-button {
  display: none !important;
}
#new-tab-button {
  display: none !important;
}

/* We dont like spacers around these parts */
spacer {
  display: none !important;
}

.urlbar-icon, #userContext-indicator, #userContext-label {
  fill        : transparent !important;
  background  : transparent !important;
  color       : transparent !important;
}

#urlbar:hover .urlbar-icon,
#urlbar:active .urlbar-icon, 
#urlbar[focused] .urlbar-icon {
  background-color: var(--bg2) !important;
}

/*================== TABS BAR ==================*/

toolbar {
  -moz-appearance: none !important;
  background: var(--bg) !important;
}

#TabsToolbar {
  -moz-appearance: none !important;
  background: var(--bg) !important;
}


#PersonalToolbar {
  -moz-appearance: none !important;
  background: var(--bg) !important;
  color: var(--fg) !important;
  padding-bottom: 6px !important;
  padding-top: 1px !important;
}

#navigator-toolbox-background {
  background: var(--bg) !important;
}

toolbar#nav-bar {
  background-color: var(--bg) !important;
  box-shadow: none !important;
  padding-bottom: 4px !important;
}

#tabbrowser-tabs {
  border-inline-start: none !important;
  margin-inline-start: -4px !important;
  padding-inline-start: -4px !important;
}

/*================= SIDE BAR =================*/
#sidebar-header {
  border-bottom: none !important;
}

#sidebar {
  background-color: var(--bg) !important;
}

#sidebar-box {
  background-color: var(--bg) !important;
}

.sidebar-splitter {
  background-color: var(--bg) !important;
  border: none !important;
}

.sidebar-placesTreechildren {
  margin-left: 4px !important;
}

/*============= CAPTION BUTTONS ==============*/
:root:not([chromemargin], [inFullscreen]) .titlebar-buttonbox-container, :root[inFullscreen] :root:not([tabsintitlebar]) {
  display: flex !important;
}

.titlebar-buttonbox {
  display: flex !important;
}

:root:not([tabsintitlebar], [sizemode="fullscreen"]) .titlebar-buttonbox {
  display: flex !important;
}

/*=================== TABS ===================*/

tab[selected="true"] .tab-content {
  color: var(--accent2) !important;
  border-width: 0px;
}

tab[selected="true"] .tab-background {
  background: var(--bg2) !important;
  border-radius: 16px !important;
  box-shadow: none !important;
}

tab[selected="false"] .tab-background {
  border-radius: 16px !important;
}

.tabbrowser-tab>.tab-stack>.tab-background:not([selected="true"]) {
  transition: all 0.6s ease !important;
}

.tabbrowser-tab:hover>.tab-stack>.tab-background:not([selected="true"]) {
  background-color: var(--bg2) !important;
}

.tab-line {
  height: 0px !important;
}

.tabbrowser-tab {
  margin-right: 0px !important;
}

.tabbrowser-tab:not([visuallyselected="true"]),
.tabbrowser-tab:-moz-lwtheme {
  color: var(--inactive) !important;
}

.tabbrowser-tab::after,
.tabbrowser-tab::before {
  border-left: 0 !important;
  opacity: 0 !important;
}

.tab-close-button {
  transition: all 0.3s ease !important;
  border-radius: 100% !important;
}
